@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

:root {
  --background: #e0e5ec;
  --gray: #797d7f;
  --accent-color: #ff6347; /* Color de acento */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column; /* Asegura que la barra esté encima del contenido */
}

.black-bar {
  width: 100%;
  height: 50px; /* Altura de la barra */
  background-color: #333; /* Cambiado a un color gris oscuro */
}

.player {
  width: 500px;
  height: 780px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  transition: transform 0.2s; /* Agregar transición */
}

.player:hover {
  transform: scale(1.02); /* Efecto hover */
}

.player__controls {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
}

.player__btn {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
    8px 8px 20px 0px #0001, 5px 5px 6px 0px #0001;
  color: var(--gray);
  transition: background-color 0.3s, transform 0.3s; /* Transiciones */
}

.player__btn:active {
  box-shadow: inset -8px -8px 20px #fff9, inset -5px -5px 6px #fff9,
    inset 8px 8px 20px #0003, inset 5px 5px 6px #0001;
}


}

.player__btn--small {
  min-width: 50px;
  min-height: 50px;
}

.player__title {
  font-weight: 600;
  font-size: 0.8em;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.player__album {
  width: 250px;
}

.player__img {
  border-radius: 50%;
  box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
    -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
}

.player__artist {
  font-size: 1.2em;
  font-weight: 500;
  opacity: 0.5;
  margin: 20px 0px 0px 0px;
}

.player__song {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  opacity: 0.5;
  margin: 0;
}

.player__level {
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  border: none;
  padding: 0;
  margin-top: 40px;
  background: linear-gradient(to right, var(--accent-color) 0%, #d7dbdd 100%); /* Gradiente dinámico */
  height: 6px;
  border-radius: 3px;
}

.player__level::-webkit-slider-runnable-track {
  background: transparent; /* El gradiente se establece en el contenedor */
  height: 6px;
  border-radius: 3px;
}

.player__level::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  background-color: var(--accent-color); /* Color de volumen modificado */
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.player__level::-moz-range-track {
  background: transparent;
  height: 6px;
  border-radius: 3px;
}

.player__level::-moz-range-thumb {
  border-radius: 100%;
  background-color: var(--accent-color);
  height: 18px;
  width: 18px;
}

.player__level::-ms-track {
  background: transparent;
  height: 6px;
  border-radius: 3px;
}

.player__level::-ms-thumb {
  border-radius: 100%;
  background-color: var(--accent-color);
  height: 18px;
  width: 18px;
}

.audio-duration {
  margin-top: -30px;
  display: flex;
  width: 78%;
  font-size: 10px;
  font-weight: 600;
  color: #a1a1a1;
  letter-spacing: 1px;
}

.start {
  flex: 1;
}

.player__audio {
  visibility: hidden;
}

.player__btn--medium {
  min-height: 70px;
  min-width: 70px;
}

.blue {
  background-color: #83c41a;
  color: #fff;
}

.hide {
  display: none;
}

/* Estilos para los íconos de redes sociales */
.youtube-icon i {
  color: #ff0000; /* Color de YouTube */
  transition: color 0.3s; /* Transición */
}

.youtube-icon:hover i {
  color: darkred; /* Color oscuro al pasar el mouse */
}

.facebook-icon i {
  color: #3b5998; /* Color de Facebook */
  transition: color 0.3s; /* Transición */
}

.facebook-icon:hover i {
  color: #2d4373; /* Color oscuro al pasar el mouse */
}

.twitter-icon i {
  color: #1da1f2; /* Color de Twitter */
  transition: color 0.3s; /* Transición */
}

.twitter-icon:hover i {
  color: #0a74b5; /* Color oscuro al pasar el mouse */
}

.instagram-icon i {
  color: #c32aa3; /* Color de Instagram */
  transition: color 0.3s; /* Transición */
}

.instagram-icon:hover i {
  color: #a2287d; /* Color oscuro al pasar el mouse */
}

.linkedin-icon i {
  color: #0077b5; /* Color de LinkedIn */
  transition: color 0.3s; /* Transición */
}

.linkedin-icon:hover i {
  color: #005582; /* Color oscuro al pasar el mouse */
}

.tiktok-icon i {
  color: #69c9ef; /* Color de TikTok */
  transition: color 0.3s; /* Transición */
}

.tiktok-icon:hover i {
  color: #3bb19c; /* Color oscuro al pasar el mouse */
}
